.navbar-custom {
    margin: 0;
    padding: 0;
    // border:1px solid red;
    background-color:$color-primary;
    box-shadow: 1px 2px 2px  #333;
  
    .navbar-brand {
        padding-left: 30px;
  
        img {
            height: 50px;
        }
    }
  
    .navbar-toggler.custom-toggler {
        margin-right: 25px;
        .navbar-toggler-icon {
            color: $white;
            font-size: 1.5rem;
            line-height: 1.5em;
            margin: auto;
        }
        border:1px solid #fff;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-nav {
  
        li.active {
            a {
                color: #fff;
                text-transform: uppercase;
                background-color: lighten($color-primary, 10%);
                // rgba(12, 184, 182, 0.21);
  
                &:focus,
                &:hover {
                    background-color: lighten($color-primary, 10%);
                }
  
            }
        }
  
        li {
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                box-sizing: border-box;
                height: 60px;

                line-height: 40px;
                text-align: center;
                font-weight: 300;
                padding-top: 10px;
                padding: 10px 25px 0 25px !important;
  
                &:hover {
                    // font-weight: 700;
                    color: $color-accent;
                    background-color: lighten($color-primary, 5%);
  
                    border-bottom: 3px solid $color-accent;
                }
  
                &:focus {
                    color: $color-accent;
                    background-color: lighten($color-primary, 5%);
                    border-bottom: 3px solid $color-accent;
                }
            }
        }
    }
  }