:root {
  font-size: 20px; }

body {
  font-size: 1em;
  line-height: 1em;
  overflow-x: hidden;
  color: #fff; }

section {
  margin: 0;
  padding: 0; }

.container-fluid {
  padding: 0; }

.container {
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article p a {
  color: #0000FF; }
  article p a:hover, article p a:focus {
    color: #001A57; }
  article p a:visited {
    color: #0000FF; }

.navbar-custom {
  padding: 0;
  font-family: "arial";
  font-weight: 600;
  background-color: #fff;
  box-shadow: 1px 3px 2px #444444; }
  .navbar-custom .navbar-brand img {
    height: 50px; }
  .navbar-custom .navbar-toggler.custom-toggler {
    margin-right: 25px;
    border: 1px solid #262228; }
    .navbar-custom .navbar-toggler.custom-toggler .navbar-toggler-icon {
      color: #262228;
      font-size: 1.5rem;
      line-height: 1.5em;
      margin: auto; }
    .navbar-custom .navbar-toggler.custom-toggler:focus, .navbar-custom .navbar-toggler.custom-toggler:active {
      outline: none; }
  .navbar-custom .navbar-nav li.active a {
    color: #ffce00;
    text-transform: uppercase;
    background-color: #025482; }
    .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
      background-color: #03659b; }
  .navbar-custom .navbar-nav li a {
    color: #ffce00;
    text-transform: uppercase;
    font-size: 14px;
    box-sizing: border-box;
    height: 60px;
    line-height: 40px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
    padding: 10px 25px 0 25px !important; }
    .navbar-custom .navbar-nav li a:hover {
      color: #ffce00;
      background-color: #0385cd;
      border-bottom: 3px solid #0375b4; }
    .navbar-custom .navbar-nav li a:focus {
      color: #EA6045;
      background-color: #0385cd;
      border-bottom: 3px solid #0375b4; }

.banner-bgimage {
  background-repeat: no-repeat; }

.banner-bgcolor, section#section-0 .section-0 .bg-image .bg-color {
  background-color: RGBA(0, 0, 0, 0.5); }

.banner-text, section#section-0 .section-0 .bg-image .bg-color .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  font-family: 'Source Sans Pro', sans-serif; }

.section-margin {
  margin: 30px 0; }

.section-padding {
  padding: 30px 0; }

.button, section#section-0 .section-0 .bg-image .bg-color .content button, section#section-3 .section-3 .right1 button, section#section-5 .section-5 .left1 div button, section#section-6 .section-6 .right1 button {
  outline: none;
  border: 1px solid transparent;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding: .8em 1.2em;
  background-color: #0375b4;
  border-radius: .19em;
  transition: all ease-in-out 300ms;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif; }
  .button:hover, section#section-0 .section-0 .bg-image .bg-color .content button:hover, section#section-3 .section-3 .right1 button:hover, section#section-5 .section-5 .left1 div button:hover, section#section-6 .section-6 .right1 button:hover {
    background-color: #025482;
    box-shadow: -2px 2px 0 #fff;
    color: #fff; }
  .button:active, section#section-0 .section-0 .bg-image .bg-color .content button:active, section#section-3 .section-3 .right1 button:active, section#section-5 .section-5 .left1 div button:active, section#section-6 .section-6 .right1 button:active {
    position: relative;
    top: 2px;
    left: -2px; }

.circle-for-icon {
  width: 6vmin;
  height: 6vmin;
  font-size: 1rem;
  background: #0cb8b6;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  line-height: 6vmin;
  border-radius: 50%;
  color: #fff;
  text-align: center; }

.rectangle-with-traingle {
  margin-left: 140px;
  background: #fff;
  padding: 14px 24px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  width: 200px;
  height: 400px; }

.rectangle-with-traingle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-left: 0;
  bottom: -40px;
  left: 56px;
  border-top-color: #fff;
  border-width: 20px; }

.line-under-heading {
  content: "";
  width: 200px;
  background-color: orange;
  margin: auto;
  display: block;
  height: 5px; }

@media screen and (max-width: 576px) {
  :root {
    font-size: 16px; } }

@media screen and (min-width: 720px) {
  :root {
    font-size: 19px; } }

@media screen and (min-width: 1000px) {
  :root {
    font-size: 21px; } }

.flex-wrapper, .header .flex-start, .header .flex-end {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }

.header {
  margin-top: 60px;
  padding-top: 10px; }
  .header .flex-start {
    justify-content: start;
    list-style: none; }
    .header .flex-start img {
      height: 50px;
      width: 50px; }
    .header .flex-start span {
      font-size: 30px;
      color: red;
      text-transform: uppercase;
      font-weight: bold; }
  .header .flex-end {
    justify-content: space-around;
    list-style: none; }
    .header .flex-end input {
      margin-left: 70px;
      width: 100%; }
    .header .flex-end button {
      background-color: #0375b4;
      margin-left: 10px;
      padding: 10px 12px;
      font: 18px sans-serif;
      text-decoration: none;
      border: 1px solid #000;
      border-color: #aaa #444 #444 #aaa;
      color: #FFF; }
      .header .flex-end button:hover {
        background-color: white;
        background-color: #ffe780;
        color: #000; }

section#section-1 {
  border: 1px solid red;
  border: 1px solid green; }
  section#section-1 .section-1 {
    overflow: hidden;
    clear: both; }
    section#section-1 .section-1 ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 1.7em;
      width: 120px; }
      section#section-1 .section-1 ul li {
        border-bottom: 2px solid #00647d;
        border-color: black; }
        section#section-1 .section-1 ul li:last-child {
          border-bottom: none; }
        section#section-1 .section-1 ul li:nth-child(1) {
          background-color: pink;
          background-color: #ff8000; }
        section#section-1 .section-1 ul li:nth-child(2) {
          background-color: #ff7300; }
        section#section-1 .section-1 ul li:nth-child(3) {
          background-color: rgba(255, 127, 0, 0.5);
          background-color: #ff6600; }
        section#section-1 .section-1 ul li:nth-child(4) {
          background-color: #ff7f00;
          background-color: #ff4d00; }
        section#section-1 .section-1 ul li:nth-child(5) {
          background-color: rgba(0, 200, 43, 0.5);
          background-color: #ff3300; }
        section#section-1 .section-1 ul li:nth-child(6) {
          background-color: #58007d;
          background-color: #ff1a00; }
        section#section-1 .section-1 ul li:nth-child(7) {
          background-color: gray;
          background-color: red; }
    section#section-1 .section-1 .box {
      display: inline-block;
      margin: 20px 100px 0;
      height: 100px;
      width: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      box-shadow: 0 5px 10px #555;
      -webkit-box-shadow: 0 5px 10px #555;
      -moz-box-shadow: 0 5px 10px #555;
      background: #036;
      background: -webkit-linear-gradient(red, green);
      background: -o-linear-gradient(red, green);
      background: -moz-linear-gradient(red, green);
      background: linear-gradient(red, green); }

section#section-0 .section-0 {
  position: relative; }
  section#section-0 .section-0 .bg-image {
    background: url("../images/building3.jpg") no-repeat center;
    height: 100vh;
    background-size: cover; }
    section#section-0 .section-0 .bg-image .bg-color {
      height: 100vh; }
      section#section-0 .section-0 .bg-image .bg-color .content {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        section#section-0 .section-0 .bg-image .bg-color .content button {
          margin-top: 4rem; }

section#section-2 {
  position: relative; }
  section#section-2 .section-2 {
    position: relative;
    top: -100px;
    overflow: hidden; }
    section#section-2 .section-2 .box {
      transition: all linear .3s;
      box-sizing: border-box;
      margin: 0 1% 0 1%;
      padding: 30px 5%;
      width: 95%;
      color: #fff;
      display: inline-block; }
      section#section-2 .section-2 .box .text {
        text-align: left;
        box-sizing: border-box; }
        section#section-2 .section-2 .box .text h4 {
          padding: 0;
          color: #fff;
          text-transform: capitalize; }
        section#section-2 .section-2 .box .text span.detail {
          color: #0375b4; }
        section#section-2 .section-2 .box .text h6 {
          margin: 0;
          margin-top: 30px;
          color: #ffce00; }
        section#section-2 .section-2 .box .text span {
          padding: 0;
          color: #fff; }
    section#section-2 .section-2 #box-1 {
      height: 350px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      box-shadow: 0 5px 10px #444;
      -webkit-box-shadow: 0 5px 10px #444;
      -moz-box-shadow: 0 5px 10px #444;
      background: #036;
      background: -webkit-linear-gradient(#ffce00, #0375b4);
      background: -o-linear-gradient(#ffce00, #0375b4);
      background: -moz-linear-gradient(#ffce00, #0375b4);
      background: linear-gradient(#ffce00, #0375b4); }
    section#section-2 .section-2 #box-2 {
      height: 350px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      box-shadow: 0 5px 10px #444;
      -webkit-box-shadow: 0 5px 10px #444;
      -moz-box-shadow: 0 5px 10px #444;
      background: #036;
      background: -webkit-linear-gradient(#0375b4, #0375b4);
      background: -o-linear-gradient(#0375b4, #0375b4);
      background: -moz-linear-gradient(#0375b4, #0375b4);
      background: linear-gradient(#0375b4, #0375b4); }
    section#section-2 .section-2 #box-3 {
      height: 325px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      box-shadow: 0 5px 10px #444;
      -webkit-box-shadow: 0 5px 10px #444;
      -moz-box-shadow: 0 5px 10px #444;
      background: #036;
      background: -webkit-linear-gradient(#ffce00, #444);
      background: -o-linear-gradient(#ffce00, #444);
      background: -moz-linear-gradient(#ffce00, #444);
      background: linear-gradient(#ffce00, #444); }
    section#section-2 .section-2 #box-4 {
      height: 325px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      box-shadow: 0 5px 10px #444;
      -webkit-box-shadow: 0 5px 10px #444;
      -moz-box-shadow: 0 5px 10px #444;
      background: #036;
      background: -webkit-linear-gradient(#ffce00, #ffce00);
      background: -o-linear-gradient(#ffce00, #ffce00);
      background: -moz-linear-gradient(#ffce00, #ffce00);
      background: linear-gradient(#ffce00, #ffce00); }

section#section-3 {
  margin-top: -40px;
  background-color: #c3d4f2; }
  section#section-3 .section-3 img {
    height: 100px;
    width: 100%; }
  section#section-3 .section-3 .left1 {
    padding: 40px 0;
    text-align: center; }
    section#section-3 .section-3 .left1 img {
      width: 300px;
      height: 300px; }
  section#section-3 .section-3 .right1 {
    padding: 40px 90px;
    text-align: left; }
    section#section-3 .section-3 .right1 h3 {
      color: #0375b4; }
    section#section-3 .section-3 .right1 p {
      padding-top: 20px;
      color: #262228; }
    section#section-3 .section-3 .right1 span {
      padding-top: 20px; }
      section#section-3 .section-3 .right1 span strong {
        color: #007849; }
    section#section-3 .section-3 .right1 button {
      margin-top: 40px;
      background-color: #0375b4; }

section#section-4 .section-4 {
  text-align: center; }
  section#section-4 .section-4 .bg-image {
    padding: 2rem;
    background-image: url("../images/bannerblue.jpg");
    height: 100%; }
    section#section-4 .section-4 .bg-image .bg-color h1 {
      font-family: sans-serif;
      color: #ffce00; }
    section#section-4 .section-4 .bg-image .bg-color span {
      color: #FFFFFF; }
    section#section-4 .section-4 .bg-image .bg-color .left1,
    section#section-4 .section-4 .bg-image .bg-color .both-side {
      padding-top: 30px; }
      section#section-4 .section-4 .bg-image .bg-color .left1 h5,
      section#section-4 .section-4 .bg-image .bg-color .both-side h5 {
        padding: 20px;
        color: #fff; }
      section#section-4 .section-4 .bg-image .bg-color .left1 P,
      section#section-4 .section-4 .bg-image .bg-color .both-side P {
        padding: 0 40px; }
      section#section-4 .section-4 .bg-image .bg-color .left1 img,
      section#section-4 .section-4 .bg-image .bg-color .both-side img {
        height: 350px;
        width: 90%;
        border: 6px solid #fff; }
    section#section-4 .section-4 .bg-image .bg-color .right1 {
      padding-top: 30px; }
      section#section-4 .section-4 .bg-image .bg-color .right1 img {
        height: 350px;
        width: 90%;
        border: 6px solid #fff; }

section#section-5 .section-5 {
  background-color: #ffce00; }
  section#section-5 .section-5 .left1 {
    padding: 40px; }
    section#section-5 .section-5 .left1 h3 {
      color: #0375b4; }
    section#section-5 .section-5 .left1 p {
      color: #262228;
      text-align: left;
      font-family: Arial;
      line-height: 1.5em; }
    section#section-5 .section-5 .left1 span strong {
      color: #007849; }
    section#section-5 .section-5 .left1 div {
      text-align: center; }
      section#section-5 .section-5 .left1 div button {
        margin: 0 auto;
        background-color: #262228; }
  section#section-5 .section-5 .right1 {
    padding: 100px; }
    section#section-5 .section-5 .right1 img {
      padding-left: 40px;
      width: 100px;
      height: 100px; }

section#section-5 img {
  height: 100px;
  width: 100%; }

section#section-6 .section-6 img {
  height: 100px;
  width: 100%; }

section#section-6 .section-6 .left1 {
  padding: 40px 0;
  text-align: center; }
  section#section-6 .section-6 .left1 img {
    width: 300px;
    height: 300px; }

section#section-6 .section-6 .right1 {
  padding: 40px 40px;
  text-align: left; }
  section#section-6 .section-6 .right1 h3 {
    line-height: 1;
    color: #0375b4; }
  section#section-6 .section-6 .right1 p {
    padding-top: 10px;
    color: #262228; }
  section#section-6 .section-6 .right1 span {
    color: #262228; }
  section#section-6 .section-6 .right1 button {
    margin-top: 40px;
    background-color: #ffce00; }

section#section-7 {
  background-color: #c3d4f2; }
  section#section-7 .section-7 .container {
    color: #262228;
    text-align: center; }
  section#section-7 .section-7 img {
    height: 100px;
    width: 100%; }
  section#section-7 .section-7 .wrapper {
    margin: 2rem;
    width: 90%;
    margin: auto;
    color: #262228;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    section#section-7 .section-7 .wrapper div {
      margin-left: 30px; }
      section#section-7 .section-7 .wrapper div img {
        height: 100px;
        width: 100px; }

section#section-8 .section-8 {
  margin: 2rem auto; }
  section#section-8 .section-8 #riddle, section#section-8 .section-8 #riddle-answer {
    border: 2px dotted #007849;
    margin: 10px 0; }
  section#section-8 .section-8 #riddle, section#section-8 .section-8 #riddle-answer {
    padding: 20px;
    background-color: #007849;
    border-radius: 15px;
    height: 100%; }
  section#section-8 .section-8 #riddle-answer {
    border-radius: 15px;
    height: 100%; }

footer .footer {
  background: #036;
  background: -webkit-linear-gradient(#0375b4, #262228);
  background: -o-linear-gradient(#0375b4, #262228);
  background: -moz-linear-gradient(#0375b4, #262228);
  background: linear-gradient(#0375b4, #262228);
  color: #fff;
  text-align: center;
  padding: 10px; }
