@import "./variables";
@import "./1-base/base-dir";
@import "./2-layouts/layouts-dir";
@import "./3-components/components-dir";
@import "./4-pages/pages-dir";
@import "./5-vendors/vendors-dir";
@import "./6-abstracts/abstract-dir";

#wrapper {
  background: $white;
  margin: 0 auto;
  
  .container {
    
    border: 11px soli  green;
    // max-width: 800px;
  }
}

.flex-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  //reverse-row  // column // reverse-column 
  flex-wrap: nowrap;

  // | wrap | wrap-reverse;
  //justify-content: center; //space-around;
}

.header {
margin-top: 60px;
  padding-top: 10px;

  .flex-start {
    @extend .flex-wrapper;
    list-style: none;
    // justify-content: flex-start;
    margin-left: 30px;

    img {
      height: 50px;
      width: 50px;
    }


    span {
      font-size: 30px;
      // line-height: 50px;
      color: red;
      // color: $main-green;
      text-transform: uppercase;
      font-weight: bold;

    }

  }

  .flex-end {
    @extend .flex-wrapper;
    list-style: none;

    input {
      width: 400px;
    }

    button {
      background-color: #00647D;
      width: 100px;
      margin-left: 10px;
      padding: 10px 12px;
      font: 18px sans-serif;
      text-decoration: none;
      border: 1px solid #000;
      border-color: #aaa #444 #444 #aaa;
      color: #FFF;

      &:hover {
        background-color: lighten(#fff, $amount: 10);
        background-color: complement($main-green);
        color: set-text-color(#fff);
        border: 1px solid red;
        

      }
    }

  }
}








#sidebar-left {
  clear: both;
  margin-top: -8px;
  // border: 1px solid red;
  #vert-nav {
    float: left;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 1.7em;
      width: 120px;
      li {
        border-bottom: 2px solid $main-green;
        border-color: darken($main-green, 70%);
        &:last-child {
          border-bottom: none;
        }
        &:nth-child(1) {
          background-color:pink;
        }
        &:nth-child(2) {
          background-color: mix($yellow, $white, 50%);
        }

        &:nth-child(3) {
          background-color: fade-out($orange, .5);
        }

        &:nth-child(4) {

          background-color: fade-in($orange, .8);

        }

        &:nth-child(5) {
          background-color: rgba(0, 200, 43, 0.5);
        }

        &:nth-child(6) {
          background-color: adjust-hue($main-green, 90dg);
        }

        &:nth-child(7) {
          background-color: grayscale($orange);
        }

        &:nth-child(8) {
          background-color: adjust-color($main-green, $red:0, $green:140, $blue:0);
        }

        &:nth-child(9) {
          background-color: rgba(0, 200, 43, 0.5);
        }

        &:nth-child(10) {
          background-color: adjust-hue($main-green, 90dg);
        }

        &:nth-child(11) {
          background-color: grayscale($orange);
        }

        &:nth-child(12) {
          background-color: grayscale($orange);
        }


        &:nth-child(13) {
          background-color: grayscale($orange);
        }

        &:nth-child(14) {
          background-color: grayscale($orange);
        }

        a {
          text-decoration: none;
          color: #00647D;
          padding: 2px 20px;
          display: block;
          opacity: 7;
          color: $main-green;

          &:hover {
            opacity: 1;
          }
        }
      }

    }
  }
}



main#content {
  // margin: 0px 213px 0px 109px;
  padding: 0px;
  border: 1px solid red;

  section.first-section {
    // border: 1px solid red;
    margin: 30px;

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      color: #00647D;
      line-height: 1em;
    }

    article {
      border: 1px solid red;

      #feature-image {

        // margin: 20px;
        // height: 200px;
        width: 100%;
        // max-width: 440px;
        background: $gray;
      }

      p {
        margin: 20px 0;
        // border: 1px solid red;
      }
    }
  }
}





footer {
  clear: both;
  background: #00647D;
  color: #FFF;
  text-align: center;
  padding: 10px;
}







#riddle {
  padding: 20px;
  background-color: $alice-blue;
}


%dotted-box {
  border: 2px dotted $duke-blue;
  margin: 10px 0;
}


#riddle-answer {
  @extend #riddle;
  // @extend %dotted-box ;
  // @include border-radius(5px);
  // @include box-shadow(5px 5px 5px 2px $gray);
  margin-top: 10px;

}

#main-title {
  // @include text-shadow(5px 5px 5px rgba($blue,.2));
}




%main-green-gradient {

  //  @include background-image(linear-gradient(left,$main-green 60%, $white,$red,$yellow));
}


footer {
  // @extend %main-green-gradient;
}



// @import "compass/utilities/sprites";
// @import "/images/icons/*.png";
// // @include all-icons-sprites;


// .icons {
//   .clock { @include icons-sprite(clock);}
//   .clock { @include icons-sprite(clock);}
//   .clock { @include icons-sprite(clock);}
//   .clock { @include icons-sprite(clock);}
// }


// .icons *{
//   height: 64px;
//   width: 64px;
// }