@import "./variables";
@import "./0-plugins/plugins-dir";
@import "./1-base/base-dir";
@import "./6-abstracts/abstract-dir";
@import "./2-layouts/layouts-dir";
@import "./3-components/components-dir";
@import "./4-pages/pages-dir";
@import "./5-vendors/vendors-dir";
$color-for-list1:red;
$color-for-list2:yellow;


.flex-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row; //reverse-row  // column // reverse-column 
  flex-wrap: nowrap; // | wrap | wrap-reverse;
}

.header {
  margin-top: 60px;
  padding-top: 10px;

  .flex-start {
    @extend .flex-wrapper;
    justify-content: start;
    list-style: none;

    img {
      height: 50px;
      width: 50px;
    }

    span {
      font-size: 30px;
      color: red;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .flex-end {
    @extend .flex-wrapper;
    justify-content: space-around;
    list-style: none;

    input {
      margin-left: 70px;
      width: 100%;
    }

    button {
      background-color: $color-secondary; // width: 100px;
      margin-left: 10px;
      padding: 10px 12px;
      font: 18px sans-serif;
      text-decoration: none;
      border: 1px solid #000;
      border-color: #aaa #444 #444 #aaa;
      color: #FFF;

      &:hover {
        background-color: lighten(#fff, $amount: 10);
        background-color: mix($color-primary, white);
        color: set-text-color(#fff);
      }
    }
  }
}

section#section-1 {
  border: 1px solid red;
  border: 1px solid green;

  .section-1 {
    overflow: hidden;
    clear: both;

    ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 1.7em;
      width: 120px;

      li {
        border-bottom: 2px solid $main-green;
        border-color: darken($main-green, 70%);

        &:last-child {
          border-bottom: none;
        }

        &:nth-child(1) {
          background-color: pink;
          background-color: mix($color-for-list1, $color-for-list2, 50%);
        }

        &:nth-child(2) {
          background-color: mix($color-for-list1, $color-for-list2, 55%);
        }

        &:nth-child(3) {
          background-color: fade-out($orange, .5);
          background-color: mix($color-for-list1, $color-for-list2, 60%);
        }

        &:nth-child(4) {
          background-color: fade-in($orange, .8);
          background-color: mix($color-for-list1, $color-for-list2, 70%);
        }

        &:nth-child(5) {
          background-color: rgba(0, 200, 43, 0.5);
          background-color: mix($color-for-list1, $color-for-list2, 80%);
        }

        &:nth-child(6) {
          background-color: adjust-hue($main-green, 90dg);
          background-color: mix($color-for-list1, $color-for-list2, 90%);
        }

        &:nth-child(7) {
          background-color: grayscale($orange);
          background-color: mix($color-for-list1, $color-for-list2, 100%);
        }

        // &:nth-child(8) {
        //   background-color: adjust-color($main-green, $red:0, $green:140, $blue:0);
        // }
        // &:nth-child(9) {
        //   background-color: rgba(0, 200, 43, 0.5);
        // }
        // &:nth-child(10) {
        //   background-color: adjust-hue($main-green, 90dg);
        // }
        // &:nth-child(11) {
        //   background-color: grayscale($orange);
        // }
        // &:nth-child(12) {
        //   background-color: grayscale($orange);
        // }
        // &:nth-child(13) {
        //   background-color: grayscale($orange);
        // }
        // &:nth-child(14) {
        //   background-color: grayscale($orange);
        // }
      }
    }

    .box {
      display: inline-block;
      margin: 20px 100px 0;
      height: 100px;
      width: 100px;
      @include box(50%, #555, red, green);
    }
  }
}

section#section-0 {
  .section-0 {
    position: relative;

    .bg-image {
      // @extend .banner-bgimage;
      background: url("../images/building3.jpg") no-repeat center; // 
      height: 33rem;
      // border: 11px solid red;
      background-size: cover;

      .bg-color {
        @extend .banner-bgcolor;
        height: 33rem;

        .content {
          @extend .banner-text; // margin-left: 30px;

          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

          button {
            margin-top: 4rem;
            @extend .button;
          }
        }
      }
    }
  }
}

section#section-2 {
  // border: 1px solid red;
  position: relative;

  .section-2 {
    position: relative;
    top: -100px;
    overflow: hidden;

    // left:50px;    
    .box {
      // position: absolute;
      // top:10px;
      transition: all linear .3s;
      box-sizing: border-box;
      margin: 0 1% 0 1%;
      padding: 30px 5%;
      width: 95%;
      color: set-text-color($color-secondary);
      display: inline-block;

      .text {
        text-align: left;
        box-sizing: border-box; //  border: 1px solid red;

        h4 {
          // margin: 0;
          padding: 0;
          color: #fff;
          text-transform: capitalize;
        }

        span.detail {
          // margin: 0;
          color: $color-secondary;
        }

        h6 {
          // padding: 0;
          margin: 0;
          margin-top: 30px;
          color: $color-primary;
        }

        span {
          padding: 0;
          color: #fff;
        }
      }
    }

    #box-1 {

      height: 18rem;
      @include box(2px,
      #444,
      $color-primary,
      $color-secondary);

    }

    #box-2 {
      height: 18rem;
      @include box(2px,
      #444,
      $color-secondary,
      $color-secondary);


    }

    #box-3 {
      height: 18rem;

      @include box(2px,
      #444,

      $color-primary, #444);

    }

    #box-4 {
      height: 18rem;
      @include box(2px,
      #444,
      $color-primary,
      $color-primary);

    }
  }
}

section#section-3 {
  margin-top: -40px;
  background-color: #c3d4f2;

  .section-3 {
    img {
      // margin-top: -30px;
      height: 100px;
      width: 100%;
    }

    .left1 {
      padding: 2rem 0;
      text-align: center;

      // margin-right: -230px;
      img {
        width: 18rem;
        height: 18rem;
        // border-radius: 50%;
      }
    }

    .right1 {
      padding: 2rem 3rem;
      text-align: left;


      h3 {
        color: $color-secondary;
      }

      p {
        padding-top: 20px;
        color: $color-dark;
      }

      span {
        padding-top: 20px;

        strong {
          color: $color-light;
        }
      }

      button {
        margin-top: 40px;
        @extend .button;
        background-color: $color-secondary;
      }
    }

  }
}




section#section-4 {
  .section-4 {
    // background-color: $color-secondary;
    // border: 11px solid red;
    text-align: center;

    .bg-image {
      padding: $padding-section;
      background-image: url("../images/bannerblue.jpg");
      height: 100%;

      .bg-color {
        h1 {
          // @include hide-text;
          font-family: sans-serif;
          color: $color-primary;
        }


        span {
          color: $white;
        }

        .left1,
        .both-side {
          // border: 1px solid red;
          padding-top: 30px;

          h5 {
            padding: 1rem;
            color: #fff;
          }
          P{
            padding:0 2rem;
          }

          img {

            height: 18rem;
            width: 90%;
            border: 6px solid #fff;
          }
        }


        .right1 {
          padding-top: 30px;

          img {

            @include size(90%, 18rem);

            border: 6px solid #fff;
          }
        }
      }
    }
  }
}





section#section-5 {
  // margin-top: -40px;

  .section-5 {
    background-color: $color-primary;

    .left1 {
       padding: 40px;
      // border: 1px solid red;
      
      
      h3 {
        color: $color-secondary;
      }
      
      p {
        color: $color-dark;
        text-align: left;
font-family:Arial;
line-height: 1.5em;
      }

      span {

        strong {
          color: $color-light;
        }
      }

      div{
        text-align: center;
        button {
          margin: 0 auto;
          @extend .button;
          background-color: $color-dark;
        }

      }
    }


    .right1 {
// padding: 100px;
margin: 5rem auto;
text-align: center;
line-height: 100%;
      // border: 1px solid red;


      img {
padding-left: 40px;
        
        width: 100px;
        height: 100px;
      }

    }


  }

  img {
    height: 50px;
    width: 100%;
  }
}





section#section-6 {
  // margin-top: -40px;

  .section-6 {
    img {
      // margin-top: -30px;
      height: 100px;
      width: 100%;
    }

    .left1 {
      padding: 40px 0;
      text-align: center;
      img {
        width: 14rem;
        height: 14rem;
      }
    }
    
    .right1 {
      padding: 40px 40px;
      text-align: left;
      text-align: center;

      h3 {
        text-align: left;

        line-height: 1;
        color: $color-secondary;
      }

      p {
        text-align: left;
        padding-top: 10px;
        color: $color-dark;
      }

      span {

        color: $color-dark;

      }

      button {
        margin-top: 40px;
        @extend .button;
        background-color: $color-primary;
      }
    }

  }
}




section#section-7 {
  // margin-top: -40px;
  background-color: #c3d4f2;

  .section-7 {

    .container{
      color:$color-dark;
      text-align: center;
      h3{
      }
    
    }
    
    
    img {
      height: 100px;
      width: 100%;
    }
    
    .wrapper {
      margin: $padding-section;
      // margin-top: -30px;
      width: 90%;
      margin: auto;
color: $color-dark;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content:center;
      // padding: 40px;
      text-align: center;

      // padding: 50px 0;

      div{
margin-left: 30px;
        img {
          // margin-top: -30px;
          height: 100px;
          width: 100px;
        }
      }
    }


  }
}





section#section-8 {
  .section-8 {
    %dotted-box {
      border: 2px dotted $color-light;
      margin: 1rem 1rem;
    }
    margin: $margin-section;
    #riddle {
      @extend %dotted-box;
      padding: 1rem;
      background-color:$color-light;
      @include border-radius(15px);
      height: 100%;
    }
    #riddle-answer {
      @extend #riddle;
      @extend %dotted-box;
      @include border-radius(15px);
height: 100%;
    }


  }
}



///////////////////////@extend


section#section-9 {
  .section-9 {

    .col{
      h2{

        text-align: center;
      }
    }
    background-color: $color-dark;
    padding: $padding-section;

    margin: $margin-section;
    .box-component {
      background-color:$color-light;
      padding: 20px;
       height: 100px;
      @include border-radius(15px);
      @extend .rectangle-with-traingle ;

    }
img{
  position: relative;
  top:-10px;
  left: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

    

  }
}




footer {

.footer{

  
   @include linear-gradient($color-secondary,$color-dark);
  color: set-text-color(#000);
  text-align: center;
  padding: 10px;
}
}
