body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: #808080;
  line-height: 1em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article p a {
  color: #0000FF;
}

article p a:hover, article p a:focus {
  color: #001A57;
}

article p a:visited {
  color: #0000FF;
}

.navbar-custom {
  margin: 0;
  padding: 0;
  background-color: #00647D;
  -webkit-box-shadow: 1px 4px 4px #444444;
          box-shadow: 1px 4px 4px #444444;
}

.navbar-custom .navbar-brand {
  padding-left: 30px;
}

.navbar-custom .navbar-brand img {
  height: 50px;
}

.navbar-custom .navbar-toggler.custom-toggler {
  margin-right: 25px;
  border: 1px solid #fff;
}

.navbar-custom .navbar-toggler.custom-toggler .navbar-toggler-icon {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: auto;
}

.navbar-custom .navbar-toggler.custom-toggler:focus, .navbar-custom .navbar-toggler.custom-toggler:active {
  outline: none;
}

.navbar-custom .navbar-nav li.active a {
  color: #fff;
  text-transform: uppercase;
  background-color: #008db0;
}

.navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
  background-color: #008db0;
}

.navbar-custom .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  line-height: 40px;
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
  padding: 10px 25px 0 25px !important;
}

.navbar-custom .navbar-nav li a:hover {
  color: #EA6045;
  background-color: rgba(12, 184, 182, 0.21);
  background-color: #007897;
  border-bottom: 3px solid #EA6045;
}

.navbar-custom .navbar-nav li a:focus {
  color: #EA6045;
  background-color: rgba(12, 184, 182, 0.21);
  background-color: #007897;
  border-bottom: 3px solid #EA6045;
}

body {
  background-color: #fff;
  font-family: "Arial";
  text-align: center;
  color: black;
}

.button, .button-a, .button-b {
  padding: 10px 15px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  margin: auto;
  padding: 0 20px;
}

header#main-header {
  padding: 1em;
  background: #00647D;
  color: #fff;
}

header#main-header h1 {
  font-size: 40px;
}

nav#main-nav {
  background-color: #009a9a;
  height: 40px;
}

nav#main-nav ul {
  list-style: none;
  padding-top: 10px;
}

nav#main-nav li {
  margin-right: 40px;
  display: inline;
}

nav#main-nav a {
  color: #fff;
}

nav#main-nav a:hover {
  color: #ccc;
}

.section, #section-a, #section-b {
  padding: 20px;
}

.section h1, #section-a h1, #section-b h1 {
  margin-bottom: 30px;
}

#section-a {
  background-color: #f4f4f4;
  color: #000;
}

#section-b {
  background-color: #333;
  color: #fff;
}

.button-a {
  background-color: #00647D;
  color: #fff;
}

.button-a:hover {
  text-decoration: none;
  background-color: orange;
  color: #fff;
}

.button-b {
  background-color: #f4f4f4;
  color: #000;
}

.button-b:hover {
  text-decoration: none;
  background-color: orange;
  color: #fff;
}

.kkk {
  color: purple;
}
/*# sourceMappingURL=style.css.map */