@import "./variables";
@import "./1-base/base-dir";

@import "./2-layouts/layouts-dir";
@import "./3-components/components-dir";
@import "./4-pages/pages-dir";
@import "./5-vendors/vendors-dir";
@import "./6-abstracts/abstract-dir";

body {
    background-color: $body-bg;
    font-family: $main-font;

    text-align: center;
    color:black;
}

.button{

    padding: 10px 15px;
    border-radius: 4px;
}



a {
    text-decoration: none;
    color: $color-dark;
    // color:red;
}

.container {
    // width: $container;
    margin: auto;
    padding: 0 20px;
    // border: 1px solid red;
}


header#main-header {
    padding: 1em;
    background: $color-primary;
    color: set-text-color($color-primary);

    h1 {
        font-size: 40px;
    }

}

// end of hearer section


nav#main-nav {
    background-color: $color-secondary;
// border: 11px solid red;    
    height: 40px;

    ul {
        list-style: none;
padding-top: 10px;

    }

    li {
        margin-right: 40px;
        display: inline;
        //float: left
    }

    a {
        color:#fff;

        &:hover {
            color: #ccc;
        }

    }

}

.section{
    padding:$section-padding;
h1{
    margin-bottom: 30px;
}
}



#section-a{
    @extend .section;

background-color: $color-light;
color:set-text-color($color-light);
}


#section-b{
    @extend .section;
background-color: $color-dark;

color:set-text-color($color-dark);


}





.button-a{
    @extend .button;
    background-color: $color-primary;
    color:set-text-color($color-primary);
    &:hover{
        text-decoration: none;
        background-color: orange;
    
        color:set-text-color(orange);
    }
    
}

.button-b{
    @extend .button;
    background-color: $color-light;
    color:set-text-color($color-light);
&:hover{
    text-decoration: none;
    background-color: orange;

    color:set-text-color(orange);
}
}



.kkk{
    color:purple;
}